#!/usr/bin/env bash
# ColtonDRG SSH Keystore
# authorized_keys generation extension script
# This script is under the MIT License. You can do whatever you want with it!
#
# If a file called `postinstall` exists in the same directory as the `install` script, it will be executed after the main install script.
# You can use this to add any additional keys to your authorized_keys file.
# If you want to use this, use `cp extras/postinstall.example ./postinstall`
# 
# Use $INSTALL_FILE to refer to the authorized_keys file.

echo >> $INSTALL_FILE
echo "# Lines added by postinstall script" >> $INSTALL_FILE

# Add your own stuff here...
# Here are a couple examples...
#echo "# Maybe a nice comment?" >> $INSTALL_FILE
#cat extras/anotherkey.pub >> $INSTALL_FILE


echo "Postinstall script complete"
